@font-face {
    font-family: anaktoria;
    src: url('../fonts/anaktoria-textfonts/Anaktoria.ttf');
}

.hero-pad-top {
    padding-top: 50px;
}

.dito-h1 {
    text-align: left;
    padding-left: 100px;
    line-height: 1;
    font-size: 136px;
    font-family: 'Great Vibes', cursive;
    color: #8a5a08;
    margin-bottom: 0;
}

.venty-h1 {
    text-align: right;
    padding-right: 100px;
    line-height: 1;
    font-size: 136px;
    font-family: 'Great Vibes', cursive;
    color: #8a5a08;
    margin-bottom: 0;
}

.wayang-left {
    position: absolute;
    padding-top: 20px;
    height: 375px;
    left: -100px;    
}

.wayang-right {
    text-align: right;
    position: absolute;
    padding-top: 20px;
    height: 375px;
    right: -100px;    
}

.date-header-text {
    font-family: 'anaktoria';
    font-size: 60px;
    margin: 0;
    line-height: 1;
    color: #8a5a08;
}

.date-header-text-th {
    font-family: 'anaktoria';
    font-size: 36px;
    line-height: 1;
    color: #8a5a08;
    position: absolute;
    top: 0;
    margin-left: 5px;
}

.date-header-text-number {
    font-family: 'Lemonada', cursive;
    font-size: 72px;
    margin: 0;
    line-height: 1;
    color: #8a5a08;
}

.date-header-inner-container {
    position: relative;
    padding-top: 20px;
    margin: 5px;
}

.date-header-container {
    padding-top: 75px;
}

.date-header-container.up {
    padding-top: 125px;
    padding-bottom: 50px;
}

.date-header-container.bottom-75 {
    padding-bottom: 75px;
}

.text-header-getting-married {
    font-family: 'Lemonada', cursive;
    font-size: 44px;
    color: #8a5a08 !important;
}

.ornamen-right-straight {
    height: 125px;
    right: 0;
    position: absolute;
    bottom: 0;    
}

.ornamen-left-straight {
    height: 125px;
    left: 0;
    position: absolute;
    bottom: 0;    
}

.ornamen-left-up {
    height: 125px;
    left: -50px;
    position: absolute;
    bottom: 125px;    
}

.ornamen-right-up {
    height: 125px;
    right: -50px;
    position: absolute;
    bottom: 125px; 
}

.ornamen-right-straight-upper {
    height: 125px;
    right: 0;
    position: absolute;
    top: 0;
    transform: scaleY(-1);    
}

.ornamen-left-straight-upper {
    height: 125px;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(-1);    
}

.ornamen-left-up-upper {
    height: 125px;
    left: -50px;
    position: absolute;
    top: 125px;
    transform: scaleY(-1);    
}

.ornamen-right-up-upper {
    height: 125px;
    right: -50px;
    position: absolute;
    top: 125px;
    transform: scaleY(-1);    
}

.content-outer {
    position: relative;
}

.content-outer-frame {
    margin: 48px;
    border-radius: 20px;
    background-color: #faedc1;
    text-align: center;
    padding: 48px;
    position: relative;
    overflow: hidden;
}

.second-page-preamble-container {
    margin-top: 20px;
    margin-bottom: 100px;
}

.second-page-preamble {
    font-size: 28px;
    color: #8a5a08;
    line-height: 1.2;
    margin: 0;
}

.second-page-name-container {
    margin-top: 48px;
}

.second-page-and-ornamen {
    font-family: 'Dancing Script', cursive;
    margin-top: 48px;
    font-size: 72px;
    color: #8a5a08;
}

.second-page-main-name {
    font-family: 'Dancing Script', cursive;
    font-size: 72px;
    color: #8a5a08;
    margin-bottom: 0;
}

.second-page-parent-name-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.second-page-parent-name {
    font-family: 'Quintessential', cursive;
    font-size: 28px;
    color: #b86619
}

.second-page-quotes-container {
    margin-top: 128px;
}

.second-page-quotes-img {
    width: 420px;
}

.second-page-quotes-text-container {
    padding-top: 28px;
    padding-bottom: 28px;
}

.second-page-quotes-text {
    line-height: 1;
    margin-bottom: 0;
    font-size: 32px;
    color: #b86619;
    font-family: 'anaktoria';
}

.church-image {
    width: 120px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.third-page-content-container {
    margin-bottom: 50px;
    font-size: 20px;
    color: #b86619;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.location-icon {
    height: 24px;
}

.youtube-icon {
    width: 60px;
}

.google-maps-icon {
    height: 42px;
}

.third-page-title {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 58px;
    color: #8a5a08;
    margin-bottom: 0;
}

.pad-bottom-20 {
    padding-bottom: 20px;
}

.pad-bottom-36 {
    padding-bottom: 36px;
}

.pad-bottom-50 {
    padding-bottom: 50px;
}

.pad-top-40 {
    padding-top: 40px;
}

.padding-top-150 {
    padding-top: 150px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-top-40 {
    margin-top: 40px;
}

.link {
    color: #b86619
}

.link:hover {
    color: #b86619;
    text-decoration: underline;
}

.health-protocol-shape {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #8a5a08;
    margin: 0 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}

.container.custom {
    width: 670px;
    font-size: 28px;
    color: #b86619;
    text-align: left;
}

.health-protocol-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
}

.width-100-percent {
    width: 100%;
}

.health-protocol-shape.round-border {
    border: 1px #000;
}

.couple-image {
    width: 50%;
}

.couple-name {
    line-height: 1;
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    color: #8a5a08;
    margin-bottom: 0;
}

.wayang-container {
    height: 480px;
    position: relative;
}

.wayang-container.left {
    margin-right: 20px;
}

.wayang-container.right {
    margin-left: 20px;
}


.wayang-end-left {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    height: 100%;
    transform: rotate(-30deg);
}

.wayang-end-right {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-right: auto;
    height: 100%;
    transform: rotate(30deg);
}

.youtube-outer {
    margin: 20px;
}

.youtube-button {
    padding: 20px;
    border-radius: 20px;
    height: 100%;
    background-color: white;
    border: solid 1px #af4d0e;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .second-page-preamble {
        font-size: 24px;
    }  

    .preamble-max-width {
        max-width: 500px;
        margin: auto;
    }

    .wayang-container {
        height: 280px;
    }

    .wayang-end-left {
        top: 20%;
        height: 100%;
        transform: rotate(-45deg);
    }

    .wayang-end-right {
        top: 20%;
        height: 100%;
        transform: rotate(45deg);
    }    
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    /* CSS */
    
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {
    .dito-h1 {
        font-size: 70px;
        padding-left: 70px;
    }

    .venty-h1 {
        font-size: 70px;
        padding-right: 85px;
    }

    .wayang-left {
        height: 330px;
        left: -100px;
    }
    
    .wayang-right {
        height: 330px;
        right: -100px;
    }    

    .fh5co-cover .display-tc {
        padding-top: 100px;
    }

    .date-header-container {
        padding-top: 100px;
    }

    .date-header-text {
        font-size: 32px;
    }

    .date-header-text-th {
        font-size: 32px;
    }

    .date-header-inner-container {
        padding-top: 15px;
    }

    .text-header-getting-married {
        font-size: 20px;
    }

    .ornamen-right-straight {
        height: 70px;
        right: 0;
        position: absolute;
        bottom: 0;    
    }
    
    .ornamen-left-straight {
        height: 70px;
        left: 0;
        position: absolute;
        bottom: 0;    
    }
    
    .ornamen-left-up {
        height: 70px;
        left: -50px;
        position: absolute;
        bottom: 70px;    
    }
    
    .ornamen-right-up {
        height: 70px;
        right: -50px;
        position: absolute;
        bottom: 80px;    
    }
    
    .ornamen-right-straight-upper {
        height: 70px;
    }
    
    .ornamen-left-straight-upper {
        height: 70px;
    }
    
    .ornamen-left-up-upper {
        height: 70px;
        left: -50px;
        position: absolute;
        top: 70px;    
    }
    
    .ornamen-right-up-upper {
        height: 70px;
        right: -50px;
        position: absolute;
        top: 80px;    
    }

    .hero-pad-top {
        padding-top: 0;
    }

    .content-outer-frame {
        margin: 20px;
        border-radius: 20px;
        padding: 20px;
    }    

    .second-page-preamble {
        font-size: 14px;
    }

    .second-page-preamble-container {
        margin-top: 50px;
        margin-bottom: 60px;
    }

    .second-page-main-name {
        font-size: 35px;
    }

    .second-page-parent-name-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .second-page-parent-name {
        font-size: 18px;
    }

    .second-page-and-ornamen {
        margin-top: 42px;
        font-size: 35px
    }

    .second-page-quotes-img {
        width: 180px;
    }

    .second-page-quotes-container {
        margin-top: 100px;
    }

    .second-page-quotes-text {
        font-size: 18px;
    }

    .third-page-content-container {
        font-size: 14px;
        line-height: 1.5;
    }

    .third-page-title {
        font-size: 35px;
    }

    .preamble-max-width {
        max-width: 300px;
        margin: auto;
    }

    .container.custom {
        max-width: 100%;
        font-size: 14px;
        line-height: 1.2;
    }

    .health-protocol-shape {
        width: 50px;
        height: 50px;
    }

    .church-image.drink {
        width: 100px;
    }

    .couple-name {
        font-size: 60px;
    }

    .wayang-container {
        height: 200px;
        position: relative;
    }

    .wayang-container.left {
        margin-right: 0;
    }
    
    .wayang-container.right {
        margin-left: 0;
    }
    
    
}